@model IEnumerable<System_Rezerwacji_Biletów.ViewModels.UserViewModel>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Admin Dashboard";
}

<h1>@Localizer["Admin Dashboard"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>@Localizer["Email"]</th>
            <th></th>
            <th>@Localizer["Role"]</th>
            <th>@Localizer["Change Role"]</th>
            <th>@Localizer["Actions"]</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var user in Model)
        {
            <tr>
                <td>@user.Name</td>
                <td>@user.LastName</td>
                <td>@user.CurrentRole</td>
                <td>
                    <form asp-action="UpdateUserRole" method="post">
                        <input type="hidden" name="Id" value="@user.UserID" />
                        <select name="CurrentRole" class="form-control" style="width: 150px; display:inline-block;">
                            @foreach(var role in user.AvailableRoles)
                            {
                                <option value="@role" selected="@(role == user.CurrentRole ? "selected" : null)">@role</option>
                            }
                        </select>
                        <button type="submit" class="btn btn-primary btn-sm">@Localizer["Change"]</button>
                    </form>
                </td>
                <td>
                    <form asp-action="Delete" method="post" onsubmit="return confirm('Are you sure to delete user @user.Name?');">
                        <input type="hidden" name="userId" value="@user.UserID" />
                        <button type="submit" class="btn btn-danger btn-sm">@Localizer["Delete"]</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
