@model IEnumerable<System_Rezerwacji_Biletów.ViewModels.UserViewModel>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "ListUser";
}

<h1>@Localizer["List Users"]</h1>
<p>
    <a asp-action="Create">@Localizer["Create new"]</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Localizer["Name"]</th>
            <th>@Localizer["Last Name"]</th>
            <th>@Localizer["Birth Date"]</th>
            <th>@Localizer["Email"]</th>
            <th>@Localizer["Role"]</th>
            <th>@Localizer["Role"]</th>у 
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Name</td>
                <td>@user.LastName</td>
                <td>@user.BirthDate.ToShortDateString()</td>
                <td>@user.email</td>
                <td>
                    <form asp-action="UpdateUserRole" method="post" style="display:flex; align-items:center;">
                        <input type="hidden" name="UserID" value="@user.UserID" />
                        <select name="CurrentRole" class="form-control">
                            @foreach (var role in user.AvailableRoles)
                            {
                                if(role == user.CurrentRole)
                                {
                                    <option value="@role" selected="selected">@role</option>
                                }
                                else
                                {
                                    <option value="@role">@role</option>
                                }
                            }
                        </select>

                        <button type="submit" class="btn btn-primary btn-sm">@Localizer["Save"]</button>
                    </form>
                </td>

                <td>
                    <a asp-action="Update" asp-route-id="@user.UserID">@Localizer["Edit"]</a>
                    <form asp-action="Delete" asp-route-id="@user.UserID" method="post" style="display:inline;">
                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure?');">@Localizer["Delete"]</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
