@model IEnumerable<System_Rezerwacji_Biletów.Models.User>
@{ ViewData["Title"] = "ListUser"; }


<h1>List Users</h1>
<p>
    <a asp-action="Create"> Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.LastName)</th>
            <th>@Html.DisplayNameFor(model => model.BirthDate)</th>
            <th>@Html.DisplayNameFor(model => model.email)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
               <td>@user.Name</td> 
               <td>@user.LastName</td> 
               <td>@user.BirthDate</td> 
               <td>@user.email</td> 
                   <td>
                    <a asp-action="Update" asp-route-id="@user.UserID">Edit</a>
                    <form asp-action="Delete" asp-route-id="@user.UserID" method="post" style="display:inline;">
                    @Html.AntiForgeryToken() 
                    <button type="submit" class="btn btn-danger" style="inset-inline">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>