@model IEnumerable<System_Rezerwacji_Biletów.ViewModels.UserViewModel>
@{
    ViewData["Title"] = "ListUser";
}

<h1>List Users</h1>
<p>
    <a asp-action="Create"> Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.LastName)</th>
            <th>@Html.DisplayNameFor(model => model.BirthDate)</th>
            <th>@Html.DisplayNameFor(model => model.email)</th>
            <th>Role</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Name</td>
                <td>@user.LastName</td>
                <td>@user.BirthDate.ToShortDateString()</td>
                <td>@user.email</td>
                <td>
                    <form asp-action="UpdateUserRole" method="post" style="display:flex; align-items:center;">
                        <input type="hidden" name="UserID" value="@user.UserID" />
                        <select name="CurrentRole" class="form-control">
                            @foreach (var role in user.AvailableRoles)
                            {
                                if(role == user.CurrentRole)
                                {
                                    <option value="@role" selected="selected">@role</option>
                                }
                                else
                                {
                                    <option value="@role">@role</option>
                                }
                            }
                        </select>

                        <button type="submit" class="btn btn-primary btn-sm">Save</button>
                    </form>
                </td>

                <td>
                    <a asp-action="Update" asp-route-id="@user.UserID">Edit</a>
                    <form asp-action="Delete" asp-route-id="@user.UserID" method="post" style="display:inline;">
                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure?');">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
