@model IEnumerable<System_Rezerwacji_Biletów.ViewModels.EventViewModel>
@{
    ViewData["Title"] = "ListEvent";
}
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@{
    var ManagerOrAdmin = (await AuthorizationService.AuthorizeAsync(User, "ManagerOrAdmin")).Succeeded;
    var Admin = (await AuthorizationService.AuthorizeAsync(User, "OnlyAdmin")).Succeeded;
}

<h1>List Event</h1>

@if (ManagerOrAdmin)
{
    <p>
        <a asp-action="Create"> Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.NameEvent)</th>
            <th>@Html.DisplayNameFor(model => model.Date)</th>
            <th>@Html.DisplayNameFor(model => model.Location)</th>
            <th>@Html.DisplayNameFor(model => model.description)</th>

            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var events in Model)
        {
            <tr>
                <td>@events.NameEvent</td>
                <td>@events.Date</td>
                <td>@events.Location</td>
                <td>@events.description</td>
                <td>
                    @if(ManagerOrAdmin || Admin)
                    {
                    <a asp-action="Update" asp-route-id="@events.EventID">Edit</a>
                    }
                    @if(Admin)
                    {
                        <form asp-action="Delete" asp-route-id="@events.EventID" method="post" style="display:inline;">
                            @Html.AntiForgeryToken()
                            <button type="submit" class="btn btn-danger" style="inset-inline">Delete</button>
                        </form>
                    }

                </td>
            </tr>
        }
    </tbody>
</table>